
/* UI Object */
.tab2{position:relative;height:29px;margin-top:20px;background:url(http://static.naver.com/groupware/common/tab_menu.gif) repeat-x 0 100%;font-family:'³ª´®°íµñ',dotum;font-size:12px}
.tab2 ul,.tab2 ul li{margin:0;padding:0;}
.tab2 ul li{list-style:none}
.tab2 ul li,.tab2 ul li a{background:url(http://static.naver.com/groupware/2010/bg_tab2_off.gif) no-repeat}
.tab2 ul li{float:left; margin-right:3px;line-height:26px}
.tab2 ul li a{display:inline-block;padding:2px 27px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#666;text-decoration:none !important}
.tab2 ul li a:hover{color:#000}
.tab2 ul li.on,.tab2 ul li.on a{background-image:url(http://static.naver.com/groupware/2010/bg_tab2_on.gif)}
.tab2 ul li.on a{color:#3376b8}
/* //UI Object */

