<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="photoboardcomment">

<select id="all" parameterType="int" resultType="photoBoardCommentDTO">
<!-- select * from photocomment where board_idx=${idx} order by comment_group asc , indent asc -->
select idx, board_idx, content, user_nick, user_id, wdate, comment_group, step, indent, available 
 from photo_comment natural join member where board_idx=#{idx} order by comment_group asc, indent asc, wdate asc
</select>

<insert id="insert" parameterType="photoBoardCommentDTO" >
insert into photo_comment values(photo_comment_seq.nextval, #{board_idx}, #{content}, #{user_id}, sysdate, photo_Comment_Group_seq.nextval, 0, 0, 0)
</insert>

<update id="modify" parameterType="photoBoardCommentDTO">
update photo_comment set content=#{content} where idx=#{idx}
</update>

<update id="delete" parameterType="int">
update photo_comment set available=1 where idx=#{idx}
</update>

<insert id="reinsert" parameterType="photoBoardCommentDTO" >
insert into photo_comment values(photo_Comment_seq.nextval, #{board_idx}, #{content}, #{user_id}, sysdate, #{comment_group}, 0, #{indent}, 0)
</insert>

<select id="commentcount" parameterType="int" resultType="int">
 select count(idx) from photo_comment where board_idx=#{idx}
</select>

<select id="checkCommentWriter" parameterType="int" resultType="String">
	select user_id from photo_comment where idx = #{idx}
</select>

<select id="bestComment" resultType="PhotoBoardCommentDTO">
	select num, good, c.idx, content, m.user_nick ,c.board_idx
	from (select inner.*, rownum num from (select count(good) good, comment_idx 
											from photo_comment_recommend r, photo_comment c 
											where r.comment_idx = c.idx and good=1 and available=0 
											group by comment_idx order by good desc) inner) a, member m, photo_comment c
	where m.user_id = c.user_id
	and c.idx = a.comment_idx
	and num between 1 and 5 
	order by num	
</select>

<!-- 한게시물의 배스트 댓글 1~3위 -->
<select id="best" resultType="PhotoBoardCommentDTO" parameterType="int">
select num, good,bad, c.idx, content, m.user_nick ,c.board_idx, c.wdate
	from (select inner.*, rownum num from (select count(good) good, comment_idx 
											from photo_comment_recommend r, photo_comment c 
											where r.comment_idx = c.idx and good=1 and available=0 	and c.board_idx = #{idx}
											group by comment_idx order by good desc) inner) a, member m, photo_comment c,
											(select count(bad) bad, comment_idx	from photo_comment_recommend r, photo_comment c 
											where r.comment_idx = c.idx and bad=1 and available=0 	and c.board_idx = #{idx}
											group by comment_idx) d
	where m.user_id = c.user_id
	and c.idx = a.comment_idx
	and c.idx = d.comment_idx(+)
	and num between 1 and 3 
	order by num
</select>

</mapper>
